{% extends 'base.html' %}

{% block title %}
    Список дел
{% endblock %}

{% block content %}
    {% for todo in todos %}
        <ul>
            <li>
                <a href="{% url 'todo' todo.id %}">
                    {% if todo.important %}
                        <b>
                    {% endif %}
                    {{ todo }}
                    {% if todo.important %}
                        </b>
                    {% endif %}
                    {% if todo.description %}
                        - {{ todo.description }}
                    {% endif %}
                </a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}