{% extends 'base.html' %}

{% block title %}
    Список дел
{% endblock %}


{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Список задач</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                <div class="list-group">
                    {% for todo in todos %}
                        <a href="{% url 'viewTodo' todo.id %}"
                           class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b>
                            {% if todo.description %} - {{ todo.description|truncatechars:30 }}{% endif %}</a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center">
                    <h2>Похоже, что все задачи выполнены. Хорошая работа!</h2>
                    <br>
                    <a role="button" class="btn btn-primary" href="{% url 'create' %}">Новая задача</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}